/* .sidebar,
body {
	background-color: #36393f;
	color: #e2e2e2;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6,
.markdown-section strong {
	color: #e2e2e2;
}

.markdown-section .anchor span {
	color: #e2e2e2;
}

.sidebar-nav ul li a {
	color: #e2e2e2;
} */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
	--base-background-color: #36393f;
	--base-color: #e2e2e2;
	--base-font-family: "Roboto", "Helvetica", "Arial", sans-serif;

	--heading-font-family: 'Lora';
	--heading-font-weight: 600;

	--sidebar-background: var(--base-background-color);
	--sidebar-border-color: var(--base-color);
	--sidebar-toggle-background: var(--base-background-color);
	--sidebar-name-color: var(--base-color);
	--sidebar-name-font-family: var(--heading-font-family);
	--sidebar-font-weight: bold;

	/* --sidebar-nav-pagelink-background-image: none;
	--sidebar-nav-pagelink-padding: 0.35rem; */
}

h1, h2, h3, h4, h5, h6 {
	font-style: italic;
}